
$breakpoints: (
  mobile: 360px,
  tablet: 760px,
  small-desktop: 1020px,
  large-desktop: 1340px
);

@function breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@mixin minWidth($breakpoint) {
  @media (min-width: breakpoint($breakpoint)) {
    @content;
  }
}

@mixin maxWidth($breakpoint) {
  @media (max-width: breakpoint($breakpoint)) {
    @content;
  }
}