h1 {
  color: pink;
  font-size: 55px;
  text-align: center;
}

.chip {
  cursor: pointer;
}

.animePage-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
