.footer {
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: -6px;
	width: 100%;

	p {
		color: #efefef;
    margin: 0;
    text-transform: capitalize;
		font-size: 1.5rem;
		font-weight: 200;
		letter-spacing: -0.5px;
	}
}