nav {
  background-color: #efefef;

  .brand-logo {
    font-weight: 800;
    letter-spacing: 1rem;
    margin-left: 5%;
    color: #222;
    text-transform: uppercase;
  }
}

.header-right {
  margin-right: 5%;
}

.header-right > li > a {
  font-size: $medium-sized;
  font-weight: 500;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
  color: #222;
}
