.landing-intro-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.landing-intro-section {
  margin-top: 50px;
}

.landing-para {
  flex-basis: 50%;
}

.landing-image-intro {
  flex-basis: 45%;
}

.landing-para p {
  font-size: 3rem;
  font-weight: 200;
}

.landing-popular-anime-section {
  padding: 50px 0;
  background-color: #222;
	margin-top: -7px;
	
	.landing-popular-header {
		color: #efefef;
		text-align: center;
		font-weight: 200;
		text-transform: capitalize;
		text-decoration: underline;
		margin-bottom: 50px;
		opacity: 0.9;
	}
}

.landing-end-section {
  display: flex;
  justify-content: center;

  .landing-image-final {
    flex-basis: 50%;
		margin-top: 50px;
    margin-bottom: -1px;
  }
}

.gmail-span {
  color: #bf3b2d;
}