.popular-animeList-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-item-card {
  display: flex;
  flex-basis: 48%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  @include minWidth(tablet) {
    flex-basis: 50%;
  }

  @include minWidth(small-desktop) {
    flex-basis: 20%;
  }
}

.popular-item-title {
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  display: block;
  color: #efefef;
}

.popular-item-image {
  flex-basis: 30px;
  height: 250px;
}

.popular-item-latestEpisode {
  margin-bottom: 10px;
}

.popular-item-lastUpdated {
  font-size: 10px;
  text-transform: capitalize;
}
