.popular-animeList-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.popular-item-card {
	display: flex;
	flex-basis: 20%;
	justify-content: center;
	text-align: center;
}

.popular-item-title {
	font-size: 1.3rem;
	text-align: center;
	white-space: nowrap;
	display: block;
	color: #efefef;
}

.popular-item-image {
  flex-basis: 30px;
  height: 250px;
}