html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.brand-logo {
  font-weight: 800;
  letter-spacing: 1rem;
  margin-left: 5%;
  text-transform: uppercase; }

.header-right {
  margin-right: 5%; }

.header-right > li > a {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -.001rem;
  text-transform: uppercase; }

h1 {
  color: pink;
  font-size: 55px;
  text-align: center; }

.chip {
  cursor: pointer; }

.animePage-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.animeForm input[type=text] {
  border-bottom-color: red !important;
  font-size: 1.6rem; }

.results-list {
  align-items: center;
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  max-height: 50vh;
  overflow: scroll;
  padding-bottom: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 10rem; }

.no-items {
  font-size: 1.6rem;
  margin: 0;
  text-align: center; }

.video-container {
  border-radius: 0.5rem;
  border: red 0.1rem #eee;
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
  margin-top: 4rem; }
