html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

img {
  max-width: 100%; }

nav {
  background-color: #efefef; }
  nav .brand-logo {
    font-weight: 800;
    letter-spacing: 1rem;
    margin-left: 5%;
    color: #222;
    text-transform: uppercase; }

.header-right {
  margin-right: 5%; }

.header-right > li > a {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -.001rem;
  text-transform: uppercase;
  color: #222; }

h1 {
  color: pink;
  font-size: 55px;
  text-align: center; }

.chip {
  cursor: pointer; }

.animePage-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.animeForm input[type=text] {
  border-bottom-color: red !important;
  font-size: 1.6rem; }

.footer {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -6px; }
  .footer p {
    color: #efefef;
    margin: 0; }

.landing-intro-section {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.landing-intro-section {
  margin-top: 50px; }

.landing-para {
  flex-basis: 50%; }

.landing-image-intro {
  flex-basis: 45%; }

.landing-para p {
  font-size: 3rem;
  font-weight: 200; }

.landing-popular-anime-section {
  padding: 50px 0;
  background-color: #222;
  margin-top: -7px; }
  .landing-popular-anime-section .landing-popular-header {
    color: #efefef;
    text-align: center;
    font-weight: 200;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 50px;
    opacity: 0.9; }

.landing-end-section {
  display: flex;
  justify-content: center; }
  .landing-end-section .landing-image-final {
    flex-basis: 50%;
    margin-top: 50px; }

.gmail-span {
  color: #bf3b2d; }

.popular-animeList-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.popular-item-card {
  flex-basis: 20%;
  text-align: center; }

.popular-item-title {
  font-size: 1.3rem;
  text-align: center;
  white-space: nowrap;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #efefef; }

.popular-item-image {
  flex-basis: 30px;
  height: 250px; }

.search-title {
  text-align: center; }

.results-list {
  align-items: center;
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  height: 300px;
  overflow: scroll; }

.no-items {
  font-size: 1.6rem;
  margin: 0;
  text-align: center; }

.result-item:first-child {
  margin-top: 50px; }

.result-item:last-child {
  margin-bottom: 50px; }

.result-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px dotted #039be5;
  border-bottom: 1px dotted #039be5; }

.result-default-message,
.result-loader {
  margin-top: 120px; }

.video-container {
  border-radius: 0.5rem;
  border: red 0.1rem #eee;
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
  margin-top: 4rem; }
